:root {
    --sauce: rgb(218, 11, 11);
    --gap2: 2rem;
}

.navbar{
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Apply the box shadow */
}

.logo {
    align-items: center;
    gap: .5rem;
    color: var(--sauce);
} 
.logo img {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}
.links {
    gap: var(--gap2);
}
.links  p {
    color: rgb(14, 13, 13);
}
