.recipe-card {
    flex-direction: column ;
    gap: var(--gap);
    border-left: 2px solid red;
    width: 16rem;
    padding: 1rem;
}
/* .recipe-card img {
    
} */
.pizza-info {
    justify-content: space-between;
}
.ingredients h4 {
    color: red;
}